<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <div>
    <input type="number" name="num1" [(ngModel)]="num1">
    <p-dropdown [options]="operations" [(ngModel)]="selectedOperation" optionLabel="name"></p-dropdown>
    <input type="number" name="num2" [(ngModel)]="num2">
  </div>

  <div style="margin-top: 50px;">
    <p-button label="Calculate" (onClick)="calculate()"></p-button>
  </div>

  <div style="margin-top: 50px;">
    <label>
      Result: {{result}}
    </label>
  </div>

  <div style="margin-top: 50px;">
    <p-table [value]="history" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th>Time</th>
          <th>Request</th>
          <th>Result</th>
          <th>Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-calculation>
        <tr>
          <td>{{calculation.time | date:'hh:mm'}}</td>
          <td>{{calculation.request}}</td>
          <td>{{calculation.result}}</td>
          <td><p-button label="Delete" (onClick)="delete(calculation)"></p-button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>